@page "{id:int?}"
@model Proiect_Apartament.Pages.Proprietari.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Proprietar[0].NumeProprietar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ProprietarData.Proprietari)
        {
            string selectedRow = "";
            if (item.ID == Model.ProprietarID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.NumeProprietar)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
@if (Model.ProprietarData.Apartamente != null)
{
    <h3>Books Edited by Selected Publisher</h3>
    <table class="table">

        @foreach (var item in Model.ProprietarData.Proprietari)
        {
            string selectedRow = "";
            if (item.ID == Model.ProprietarID)
            {
                selectedRow = "table-success";
            }
            <tr class="@selectedRow">

                <td>
                    @{
                        foreach (var b in item.Apartamente)
                        {

                            @b.Nume @: @b.Proprietar.NumeProprietar

                            <br />
                        }
                    }
                </td>
            </tr>
        }
    </table>
}
