@page "{id:int?}"
@model Proiect_Apartament.Pages.Categorii.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table" style="background-color: white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categorie[0].NumeCategorie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CategorieData.Categorii) {
            string selectedRow = "";
            if (item.ID == Model.CategorieID)
            {
                selectedRow = "table-success";
            }

        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.NumeCategorie)
            </td>
            <td>
                <a asp-page="./Index" asp-route-id="@item.ID">Select</a> |
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.CategorieData.CategoriiApartament is not null)
{
    <h3>All books with their authors from a selected category</h3>
    <table class="table">
        <thead>
            <tr>
                <th style="width: 50%">
                    @Html.DisplayNameFor(model => model.ApartamentData.Nume)
                </th>
                <th style="width: 50%">
                    @Html.DisplayNameFor(model => model.ApartamentData.Proprietar.NumeProprietar)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CategorieData.Categorii)
            {
                string selectedRow = "";

                if (item.ID == Model.CategorieID)
                {
                    selectedRow = "table-success";
                }

                <tr class="@selectedRow">
                    <td colspan="2" style="padding: 0;">
                        @{
                            foreach (var bc in item.CategoriiApartament)
                            {
                                <table width="100%">
                                    <tr>
                                        <td style="width: 50%; padding: .5em;">
                                            @Html.DisplayFor(modelItem => bc.Apartament.Nume)
                                        </td>

                                        <td style="width: 50%; padding: .5em;">
                                            @Html.DisplayFor(modelItem => bc.Apartament.Proprietar.NumeProprietar)
                                        </td>
                                    </tr>
                                </table>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}