@page
@model Proiect_Apartament.Pages.Members.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Nume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Nume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Prenume)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Prenume)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Adresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Member.Telefon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Member.Telefon)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Member?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
